@import "tailwindcss";

:root {
  --page-bg: rgb(246, 246, 246);
  --foreground: rgb(23, 23, 23);
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-bg: rgb(211, 212, 212);
    --foreground: rgb(237, 237, 237);
  }
}

@theme inline {
  --color-background: var(--page-bg);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}

body {
  background-color: var(--page-bg);
  color: var(--foreground);
}

@media (pointer: fine) {
  body,
  a, button, input, textarea, select {
    cursor: none;
  }
}
